{% extends 'base.html' %}
{% block title %}{{ block.super }} | OPP{% endblock %}
{% block content %}
<div class="list-group">
  {% for OPP in opp_list %}
  <a href="{{ OPP.get_absolute_url }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ OPP }}</h4>
  </a>
  {% empty %}
  <a href="/">
    <h4 class="list-group-item-heading">No opps</h4>
  </a>
  {% endfor %}
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/OPP?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/OPP?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}
