{% extends 'base.html' %}
{% block title %}{{ block.super }} | Home{% endblock %}
{% block content %}
<script>
$(document).ready(function(){
$('a[rel=tipsy]').tipsy({fade: true, gravity: 'n'});
width = $('#graph').width();
height = $(document).height() - 200;
x = d3.scale.linear()
  .domain([0, width])
  .range([0, width]);

y = d3.scale.linear()
  .domain([0, height])
  .range([height, 0]);

svg = d3.select("#graph").append("svg")
    .attr("width", width)
    .attr("height", height)
    .call(d3.behavior.zoom().x(x).y(y).scaleExtent([1, 8]).on("zoom", tick));
  
$('ul.nav-pills li a').click(function() {           
  updateGraph($(this).attr('view'));
});

updateGraph('{% url "voivodeships" %}');
});
</script>

<div class="col-md-9 text-center">
  <ul class="nav nav-pills graph-buttons center-pills">
    <li class="active"><a data-toggle="tab" href="#" view="{% url "voivodeships" %}">OPP by city</a></li>
    <li><a data-toggle="tab" href="#" view="{% url "legal_forms" %}">OPP by legal form</a></li>
    <li><a data-toggle="tab" href="#" view="{% url "areas" %}">OPP by public benefit area</a></li>
  </ul>
  <div id="graph"></div>
</div>
<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Informacje szczegółowe</h3>
    </div>
    <div class="panel-body detail-panel">
    </div>
  </div>
</div>
{% endblock %}
