{% extends 'base.html' %}
{% block title %}{{ block.super }} | Home{% endblock %}
{% block content %}
<div class="col-md-12 text-center">
  <ul class="nav nav-pills graph-buttons center-pills">
    <li class="active"><a data-toggle="tab" href="#" view="{% url "opp_by_city" %}">OPP by city</a></li>
    <li><a data-toggle="tab" href="#" view="{% url "opp_by_legal_form" %}">OPP by legal form</a></li>
    <li><a data-toggle="tab" href="#" view="{% url "opp_by_board_members" %}">OPP by board members</a></li>
    <li><a data-toggle="tab" href="#" view="{% url "opp_by_area" %}">OPP by public benefit area</a></li>
  </ul>
  <div id="graph"></div>
</div>
<script>
$('ul.nav-pills li a').click(function() {           
  console.log(this.getAttribute('view'));
    updateGraph(this.getAttribute('view'));
});
var svg = d3.select("#graph").append("svg")
  .attr("width", width)
  .attr("height", height);

updateGraph('{% url "opp_by_city" %}');
</script>
{% endblock %}
